body{
  background-color: rgb(222, 222, 226);
}
.display-box {
  border: 1px solid #9f7b7b;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.list-elements {
  list-style: none;
  color: red;
  border-bottom: 1px solid #ac7e7e;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.list-elements span {
  display: block;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.5em;
  color: #393535;
  margin-bottom: 10px;
  text-align: center;
}
